<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>系统设置</title>

    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/admin/cropper.css" rel="stylesheet">
    <link href="__PUBLIC__/css/admin/styles.css" rel="stylesheet">
    <link href="__PUBLIC__/css/admin/system.pic.upload.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>后台</span>管理系统</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span>{$adminName}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>属性</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="{:U('Index/index')}"><span class="glyphicon glyphicon-dashboard"></span>控制板</a></li>
        <li><a href="{:U('System/add')}"><span class="glyphicon glyphicon-th"></span>系统设置</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span>轮播图设置<span data-toggle="collapse" href="#sub-item-2"
                                                                         class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li class="active">
                    <a class="" href="{:U('Carousel/add')}">
                        <span class="glyphicon glyphicon-share-alt"></span>轮播图添加
                    </a>
                </li>
                <li>
                    <a class="" href="{:U('Carousel/index')}">
                        <span class="glyphicon glyphicon-share-alt"></span>轮播图列表
                    </a>
                </li>
                <li>
                    <a class="" href="{:U('Carousel/update')}">
                        <span class="glyphicon glyphicon-share-alt"></span>轮播图修改
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="{:U('Link/add')}"><span class="glyphicon glyphicon-list-alt"></span>友情链接</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span>分类管理<span data-toggle="collapse" href="#sub-item-3"
                                                                        class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-3">
                <li class="active">
                    <a class="" href="{:U('Category/add')}">
                        <span class="glyphicon glyphicon-share-alt"></span>添加分类
                    </a>
                </li>
                <li>
                    <a class="" href="{:U('Category/index')}">
                        <span class="glyphicon glyphicon-share-alt"></span>分类列表
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="comment.html"><span class="glyphicon glyphicon-info-sign"></span>评论列表</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span>文章管理<span data-toggle="collapse" href="#sub-item-1"
                                                                        class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="{:U('Article/add')}">
                        <span class="glyphicon glyphicon-share-alt"></span>添加文章
                    </a>
                </li>
                <li>
                    <a class="" href="{:U('Article/add')}">
                        <span class="glyphicon glyphicon-share-alt"></span>文章列表
                    </a>
                </li>
                <li>
                    <a class="" href="{:U('Article/add')}">
                        <span class="glyphicon glyphicon-share-alt"></span>文章管理
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html"><span class="glyphicon glyphicon-user"></span>会员管理</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">系统设置</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">系统设置</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span>系统设置</div>
                <div class="panel-body">
                    <form id="system-form" class="form-horizontal" method="post">
                        <fieldset>
                            <!-- webname input-->
                            <div class="input-msg">
                                <div class="input-group carousel-attr">
                                    <label class="input-group-addon system-label" for="webname">网站名称</label>
                                    <input id="webname" name="webname" type="text" placeholder="webname"
                                           class="form-control">
                                </div>
                            </div>


                            <!-- keywords input-->
                            <div class="input-msg">
                                <div class="input-group carousel-attr">
                                    <label class="input-group-addon system-label" for="keywords">网站关键词</label>
                                    <input id="keywords" name="keywords" type="text" placeholder="网站关键词请用英文逗号分隔"
                                           class="form-control">
                                </div>
                            </div>


                            <!--icp input-->

                            <div class="input-msg">
                                <div class="input-group carousel-attr">
                                    <label class="input-group-addon system-label" for="icp">ICP备案号</label>
                                    <input id="icp" name="icp" type="text" placeholder="icp备案"
                                           class="form-control">
                                </div>
                            </div>

                            <!--copyright input-->
                            <div class="input-msg">
                                <div class="input-group carousel-attr">
                                    <label class="input-group-addon system-label" for="copyright">copyright</label>
                                    <input id="copyright" name="copyright" type="text" placeholder="copyright"
                                           class="form-control">
                                </div>
                            </div>

                            <!-- description body -->
                            <div class="input-msg">
                                <div class="input-group carousel-attr">
                                    <label class="input-group-addon system-label" for="description">网站描述</label>
                                    <textarea class="form-control" id="description" name="description"
                                              placeholder="请输入网站描述" rows="5"></textarea>
                                </div>
                            </div>
                            <input class="image-url" id="logo-image" type="hidden" name="image"/>
                        </fieldset>
                    </form>

                    <!-- footer picture input-->

                    <div class="carousel-attr" id="crop-avatar">
                        <!--<label class="input-group-addon system-label" for="image">网站底部图片</label>-->

                        <div class="avatar-view">
                            <input id="image" name="image" type="text" class="form-control image-upload image-url" readonly>
                            <button type="button" class="btn btn-primary btn-upload">上传图片</button>
                            <img src="__PUBLIC__/images/picture.jpg"/>
                        </div>
                        <!-- Cropping modal -->
                        <div class="modal fade" id="avatar-modal" aria-hidden="true"
                             aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form class="avatar-form" action="{:U('System/picUpload')}" enctype="multipart/form-data"
                                          method="post">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal"
                                                    type="button">&times;</button>
                                            <h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="avatar-body">

                                                <!-- Upload image and data -->
                                                <div class="avatar-upload">
                                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                                    <label for="avatarInput">本地上传</label>
                                                    <input class="avatar-input" id="avatarInput"
                                                           name="avatar_file" type="file">
                                                </div>

                                                <!-- Crop and preview -->
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="avatar-wrapper"></div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="avatar-preview preview-lg"></div>
                                                        <div class="avatar-preview preview-md"></div>
                                                        <!--<div class="avatar-preview preview-sm"></div>-->
                                                    </div>
                                                </div>

                                                <div class="row avatar-btns">
                                                    <div class="col-md-9">
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-90" type="button"
                                                                    title="Rotate -90 degrees">左翻转
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-15" type="button">-15度
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-30" type="button">-30度
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-45" type="button">-45度
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="90" type="button"
                                                                    title="Rotate 90 degrees">右翻转
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="15" type="button">15度
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="30" type="button">30度
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="45" type="button">45度
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button class="btn btn-primary btn-block avatar-save"
                                                                type="submit">完成
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="modal-footer">
                                          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.modal -->

                    </div>

                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-md-12 widget-right">
                            <button id="system-submit" type="button" class="btn btn-success" onclick="return systemForms();">提交</button>
                        </div>
                    </div>

                </div>
            </div>

        </div><!--/.col-->

    </div><!--/.row-->
</div>    <!--/.main-->



<!--模态框 start-->
<div class="modal fade" id="submit-msg">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h3 class="modal-title">信息提示</h3>
            </div>
            <div class="modal-body">
                <div class="response-msg"></div>
            </div>
            <!--  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--模态框 end-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/js/vender/cropper.min.js"></script>
<script src="__PUBLIC__/js/system.pic.upload.js"></script>

<script>

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    });
    var systemForm ="{:U('System/addInfo')}";
    var hrefUrl ="{:U('Index/index')}";

</script>
<script src="__PUBLIC__/js/admin/system.form.js"></script>

</body>

</html>
